/* GENERAL RESET AND BASE */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #757F64;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 20px;
  color: #E9E2D8
}

.logo img {
  height: 80px;
  width: auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.signup-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup-btn {
  padding: 10px 32px;
  background-color: #CB7A5C;
  color: #E9E2D8;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 4px;
}

.signup-btn:hover {
  background-color: #B9664A;
}

.signup-box small {
  color: #E9E2D8;
  font-size: 13px;
}

.signup-box small a {
  color: #E9E2D8;
  text-decoration: underline;
}

.nav a {
  text-decoration: none;
  color: #E9E2D8;
  font-weight: 500;
}

/* FONT SLECTIONS */
.header, .nav, .signup-btn, .tagline, .features-header, .about-header, .about-item, .register-left-text {
  font-family: 'Quicksand', sans-serif;
}

.subline, .more, .about-text, .lower-tag {
  font-family: 'Bree Serif', serif;
}

/* HERO SECTION */
.hero {
  background-color: #E9E2D8;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.tagline {
  font-size: 65px;
  margin-bottom: 10px;
  color: #757F64;
}

.subline {
  font-size: 30px;
  margin-bottom: 0px;
  color: #CB7A5C;
}

.hero-img {
  width: 80%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0px auto 0 auto;
}

/* FEATURES SECTION */
.features {
  background-color: #C7CDBF;
  padding: 60px 20px;
  text-align: center;
}

.features h2 {
  font-size: 55px;
  margin-bottom: 30px;
  color: #CB7A5C;
}

.feature-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-grid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.more {
  margin-top: 20px;
  font-size: 25px;
  color: #5C757A;
}

/* ABOUT US SECTION */
.about {
  background-color: #5C757A;
  padding: 60px 20px;
  text-align: center;
}

.about h2 {
  font-size: 55px;
  margin-bottom: 20px;
  color: #E9E2D8;
}

.about-text {
  max-width: 900px;
  margin: 0 auto 40px auto;
  line-height: 1.6;
  color: #C7CDBF;
}

.about-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.about-grid img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.about-item {
  font-size: 17px;
  margin-bottom: 20px;
  color: #E9E2D8;
}

.center-img {
  margin: 0 auto;
}

.lower-tag {
  font-size: 30px;
  margin-top: 40px;
  color: #E9E2D8;
}

.lower-sub {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #E9E2D8;
}

.footer-logo img {
  height: 80px;
  width: auto;
}

.contact-btn {
  text-decoration: none;
  color: #CB7A5C;
  font-weight: bold;
}

/* <-- REGISTRATION PAGE -->  */
/* #region Registration Styles */
.register-body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.register-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Left Side (Image Panel) */
.register-left {
  width: 65%;
  background-color: #757F64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-left-text {
  font-size: 65px;
  margin-bottom: 20px;
  color: #E9E2D8;
}

.register-img {
  max-width: 65%;
  max-height: 65%;
}

/* Right Side (Form Panel) */
.register-right {
  width: 35%;
  background-color: #C7CDBF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: #E9E2D8;
}

.register-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.register-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #757F64;
  font-family: 'Quicksand', sans-serif;
}

.form-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.form-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.form-box button {
  width: 100%;
  padding: 12px;
  background-color: #757F64;
  color: #E9E2D8;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-box button:hover {
  background-color: #586F50;
}

.login-prompt {
  margin-top: 10px;
  font-size: 17px;
  color: #5C757A;
  text-align: center;
}

.login-prompt a {
  color: #5C757A;
  text-decoration: underline;
}
/* #endregion */

/* <-- LOGIN PAGE -->  */
/* #region Login Styles */

.login-body {
  
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}
/*Left Side (Image Panel)*/
.login-left {
  width: 65%;
  background-color: #5C757A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-left-text {
  font-size: 65px;
  margin-bottom: 20px;
  color: #E9E2D8;
  text-align: center;
}

.login-img {
  max-width: 65%;
  max-height: 65%;
}
/* Right Side (Form Panel) */
.login-right {
  width: 35%;
  background-color: #E9E2D8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: #000000;
}

.login-logo {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

.login-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #5C757A;
  font-family: 'Quicksand', sans-serif;
}

.login-right input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-right button {
  background-color: #5C757A;
  color: #E9E2D8;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background 0.3s ease;
}

.login-right button:hover {
  background-color: #4A6165;
}

.register-prompt {
  margin-top: 10px;
  font-size: 17px;
  color: #5C757A;
  text-align: center;
}

.register-prompt a {
  color: #5C757A;
  text-decoration: underline;
}
/* #endregion */